.btn {
    height: 2rem;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: rgb(211, 114, 3);
    font-weight: bold;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}